.allbody {
    background: rgb(255, 255, 255);
}

.zagbody {
    text-align: center;
    color: floralwhite;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    padding-top: 200px;
}

.textbody {
    padding-top: 30px;
    background: rgb(255, 255, 255);
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 360px auto auto;
}

.item1 {
    padding-left: 25px;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
}

.item11 {
    margin-left: 32px;
    margin-top: 30px;
    color: #9f9f9f;
    font-size: 15px;
    text-transform: none;
    line-height: 1.5;
}

.item2 {
    display: inline-flex;
}

.item22{
    margin-left: 30px;
}

.item3 {
    margin-right: 30px;
    color: #818181;
    font-size: 14px;
}
.item31{

    border: 1px double rgba(0, 0, 0, 0.38);
    overflow: auto;
    height: 100%;
}

.d15 {
    padding-bottom: 11px;
    padding-top: 10px;
    padding-right: 34px;
    padding-left: 26px;
    background: #aa0600;
    position: relative;
}

.d15:after {
    content: "";
    margin-top: 17px;
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: 15%;
    border-width: 0px 0px 15px 18px;
    border-style: solid;
    border-color: transparent #aa0600;
}

.img {
    width: 280px;
}

.img2 {
    width: 20px;
}

.textarea{

}