.allhead {
    display: grid;
    gap: 20px;
    background: rgba(0, 0, 0, 0.66);
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 120px;
}

.item1{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.item2 {
    text-decoration: none;
    color: #ffffff;
    display: flex
}

.item21 {
    font-size: 25pt;
    margin-bottom: auto;
    margin-top: auto;
}

.item22{
    letter-spacing: 0.11em;
    margin-top: auto;
    margin-bottom: auto;
}

.item3 {
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

.item4 {
    align-items: center;
}

.item41{
    text-decoration: none;
    color: #9f9f9f;
    margin-top: auto;
    margin-bottom: auto;
}

.item41active {
    color: #ff0000;
    }

.item42{
    width: 42px;
}

.item43{
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}
