.allhead {
    display: grid;
    gap: 20px;
    background: aqua;
    align-items: center;
    grid-template-columns: 100px auto auto auto;
    grid-template-rows: auto;
}

.item2 {
    text-decoration: none;
}

.item21 {
    font-size: 25pt;
    margin-bottom: auto;
    margin-top: auto;
}

.item22{
    letter-spacing: 0.11em;
    margin-top: auto;
    margin-bottom: auto;
}

.item3 {
    margin-top: auto;
    margin-bottom: auto;
}

.item4 {
    text-decoration: none;
    color: #b0b0b0;
    margin-top: auto;
    margin-bottom: auto;
}
.item4active {
    color: #ff0000;
    }

.item42{
    margin-top: auto;
    margin-bottom: auto;
}
