.ul {
    display: grid;
    grid-template-columns: 177px 146px 93px 126px auto;
    column-gap: 10px;
    list-style-type: none;
    margin: 0px;
    margin-left: 60px;
    color: #c0c0c0;
    padding-top: 5px;
    padding-bottom: 5px;

}

.li {
    align-items: center;
    text-decoration: none;
    color: #9f9f9f;
}

.allprehead {
    background: #292929;
    font-size: 15px;

}

.item41{
    text-decoration: none;
    color: #9f9f9f;

}


